# Compiled Sources
###################
*.o
*.a
*.elf
*.bin
*.map
*.hex
*.dis
*.exe
*.axf
*.lst

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directories
######################
build/
build-*/

# Test failure outputs
######################
tests/results/*

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/

# DS-Flash files
*.DS_Store

ports/tm4c123/\.directory

ports/tm4c123/\.vscode

*.ipch

ports/tm4c123/vscode\.code-workspace

ports/stm32/\.directory

ports/tm4c123/\.settings/language\.settings\.xml

ports/tm4c123/micropython\.code-workspace
ports/tm4c123/tivaware
ports/tm4c123/TM4C123GH6PM.svd.xml
